.sidebar-option{
    display:flex;
align-items:center;
font-size:12px;
padding-left:2px;
cursor:pointer;

}
.sidebar-option:hover{
    opacity:0.9;
    background-color:var(--slack-option) ;
}
.sidebar-option-icon{
    padding:10px;
    font-size:15px !important;
}